/*to remove in the end of the project

* {
    outline: 1px solid red;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: lightgray;
}
.header {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.content1, .content2, .content3 {
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    background: white;
}
.topLeft, .topRight {
    padding: 10px;
}

/*.flex-container {
    display: flex;
}

.topRight {
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 168px;
}
.topLeft {
    margin: 0;
    height: 30px;
}

/* Another option to display the title of photo and date, using flex display
*/
.topLeft {
    float: left;
}
.topRight {
    float: right;
}


.image {
    width: 100%;
}

.caption {
    font-family:'Montserrat', sans-serif;
    padding: 10px;
    text-align: justify;
}